@model ShopDongHoMVC.Data.HoaDon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
}

<h1 class="text-center" style="background-color: #002D21; color: #daa37f; padding: 10px;">XÓA ĐƠN HÀNG</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-danger text-center">Bạn có chắc chắn muốn xóa đơn hàng này?</h3>
            <div>
                <h4>Thông tin đơn hàng</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">Ngày đặt hàng:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.NgayDat)</dd>
                    <dt class="col-sm-4">Ngày cần giao:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.NgayCan)</dd>
                    <dt class="col-sm-4">Ngày giao hàng:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.NgayGiao)</dd>
                    <dt class="col-sm-4">Họ tên người nhận:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.HoTen)</dd>
                    <dt class="col-sm-4">Điện thoại:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DienThoai)</dd>
                    <dt class="col-sm-4">Địa chỉ giao hàng:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DiaChi)</dd>
                    <dt class="col-sm-4">Phương thức thanh toán:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CachThanhToan)</dd>
                    <dt class="col-sm-4">Phương thức vận chuyển:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CachVanChuyen)</dd>
                    <dt class="col-sm-4">Phí vận chuyển:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.PhiVanChuyen)</dd>
                    <dt class="col-sm-4">Ghi chú:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.GhiChu)</dd>
                    <dt class="col-sm-4">Mã Khách hàng:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.MaKhNavigation.MaKh)</dd>
                    <dt class="col-sm-4">Mã Nhân viên:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.MaNvNavigation.MaNv)</dd>
                    <dt class="col-sm-4">Trạng thái đơn hàng:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.MaTrangThaiNavigation.MaTrangThai)</dd>
                </dl>
                <br />
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="MaHd" />
                    <button type="submit" class="btn btn-danger">Xóa</button> |
                    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                </form>
            </div>
        </div>
    </div>
</div>
