@model ShopDongHoMVC.Data.HoaDon

@{
    ViewData["Title"] = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
}

<h1 class="text-center" style="background-color: #002D21; color: #daa37f; padding: 10px;">CHI TIẾT ĐƠN HÀNG</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4>Thông tin đơn hàng</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Ngày đặt hàng:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NgayDat)</dd>
                <dt class="col-sm-4">Ngày cần giao:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NgayCan)</dd>
                <dt class="col-sm-4">Ngày giao hàng:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NgayGiao)</dd>
                <dt class="col-sm-4">Họ tên người nhận:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.HoTen)</dd>
                <dt class="col-sm-4">Điện thoại:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DienThoai)</dd>
                <dt class="col-sm-4">Địa chỉ giao hàng:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DiaChi)</dd>
                <dt class="col-sm-4">Phương thức thanh toán:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CachThanhToan)</dd>
                <dt class="col-sm-4">Phương thức vận chuyển:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CachVanChuyen)</dd>
                <dt class="col-sm-4">Phí vận chuyển:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PhiVanChuyen)</dd>
                <dt class="col-sm-4">Ghi chú:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.GhiChu)</dd>
                <dt class="col-sm-4">Mã Khách hàng:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MaKhNavigation.MaKh)</dd>
                <dt class="col-sm-4">Mã Nhân viên:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MaNvNavigation.MaNv)</dd>
                <dt class="col-sm-4">Trạng thái đơn hàng:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MaTrangThaiNavigation.MaTrangThai)</dd>
            </dl>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.MaHd" class="btn btn-primary">Chỉnh sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>
