@model IEnumerable<ShopDongHoMVC.Data.HoaDon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
}

<h1 style="text-align: center;background-color: #002D21;color: #daa37f;padding-top: 10px;">QUẢN LÝ ĐƠN HÀNG</h1>


<p>
    <center>
        <div class="card btn btn-primary" style="width: 212.95px; text-align: center; background-color: #002d21">

            <a asp-action="Create">Thêm đơn hàng</a>


        </div>
    </center>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CachThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CachVanChuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhiVanChuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNvNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTrangThaiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CachThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CachVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.MaKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNvNavigation.MaNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTrangThaiNavigation.MaTrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHd">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaHd">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHd">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
