@model ShopDongHoMVC.ViewModels.RegisterVM
@{
    ViewData["Title"] = "Đăng Ký";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@* 

<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="name" id="name" placeholder="Your Name" />
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" id="email" placeholder="Your Email" />
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="images/signup-image.jpg" alt="sing up image"></figure>
                <a href="#" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>





 *@
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form asp-action="DangKy" enctype="multipart/form-data" method="post" class="register-form" id="register-form">
                    <div class="form-group">
                        @* <label asp-for="@Model.MaKh" class="form-label my-3" style="margin-bottom:10px;"></label><sup>*</sup> *@
                        <input asp-for="@Model.MaKh" class="form-control" placeholder="Tên đăng nhập" />
                        <span asp-validation-for="@Model.MaKh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
@*                         <label asp-for="@Model.MatKhau" class="form-label my-3"></label><sup>*</sup> *@
                        <input asp-for="@Model.MatKhau" type="password" class="form-control" placeholder="Mật khẩu" />
                        <span asp-validation-for="@Model.MatKhau" class="text-danger"></span>
                    </div>


                    <div class="form-group">
@*                         <label asp-for="@Model.HoTen" class="form-label my-3"></label><sup>*</sup> *@
                        <input asp-for="@Model.HoTen" class="form-control" placeholder="Họ và Tên" />
                        <span asp-validation-for="@Model.HoTen" class="text-danger"></span>
                    </div>

@*                     <div class="form-group">
                        <input asp-for="@Model.GioiTinh" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model.GioiTinh">Nam?</label>
                    </div> *@

                    <div class="form-group">
@*                         <label asp-for="@Model.NgaySinh" class="form-label my-3"></label><sup>*</sup> *@
                        <input asp-for="@Model.NgaySinh" type="date" class="form-control" placeholder="Ngày Sinh" />
                        <span asp-validation-for="@Model.NgaySinh" class="text-danger"></span>
                    </div>

                    <div class="form-group">
@*                         <label asp-for="@Model.DiaChi" class="form-label my-3"></label><sup>*</sup> *@
                        <input asp-for="@Model.DiaChi" class="form-control" placeholder="Địa chỉ" />
                        <span asp-validation-for="@Model.DiaChi" class="text-danger"></span>
                    </div>

                    <div class="form-group">
@*                         <label asp-for="@Model.DienThoai" class="form-label my-3"></label><sup>*</sup> *@
                        <input asp-for="@Model.DienThoai" class="form-control" placeholder="Số điện thoại" />
                        <span asp-validation-for="@Model.DienThoai" class="text-danger"></span>
                    </div>
                    <div class="form-group">
@*                         <label asp-for="@Model.Email" class="form-label my-3"></label><sup>*</sup> *@
                        <input asp-for="@Model.Email" class="form-control" placeholder="Mail" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label class="form-label my-3">Hình<sup>*</sup></label>
                        <input type="file" name="Hinh" class="form-control" />
                    </div>

                    <div class="col-md-12 text-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Đăng Ký</button>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="~/login/images/signup-image.jpg" alt="sing up image"></figure>
                <a asp-action="DangNhap" class="signup-image-link">Tôi đã có tài khoản</a>
            </div>
        </div>
    </div>
    </div>
</section>

